Options -Indexes
Options +FollowSymlinks

# BEGIN Rewrite
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index\.php$ - [L]

## 去除所有的附檔名 about.php -> about
# 設定比對條件，若請求的網址是檔案或目錄。
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d

# 若有則去除附檔名
RewriteRule ^([^./]+)/?$ $1.php [L]

</IfModule>

# END Rewrite